html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

ol {
    list-style-position: inside;
    text-align: left;
}

h1,
h2 {
    color: darkred;
}

h3,
p,
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: beige;
    width: 100%;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav #menu {
    color: darkred;
}

nav #about {
    color: darkred;
}

nav #contact {
    color: darkred;
}

nav #home {
    color: darkred;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: auto;
    height: auto;
    background-color: white;
}

#banner img {
    width: 60%;
    height: auto;
}

.service {
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    text-align: right;
    border: 1px dashed green;
    width: 100%;
}

tr {
    border: 0px;
}

td {
    background-color: rgb(197, 228, 195);
    width: 50%;
    border: 1px dotted green;
    text-align: right;
}

th {
    border: 1px dotted green;
    padding: 5px;
}

footer p {
    color: gold;
    background-color: goldenrod;
    border: 1px dashed gold;
}